<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content=<%=
			rb_nonce = SecureRandom.base64
			"\"default-src 'self'; script-src 'self' 'nonce-" + rb_nonce + "'\""
		%>>

    <!-- Use title from frontmatter: 'seo_title' key -->
    <title><%=
			current_page.data.seo_title || "Emmanuel Odongo"
		%></title>

		<!-- Use description from frontmatter: first paragraph of the 'abstract' key -->
		<meta name="description" content=<%=
			if current_page.data.abstract
				my_hash = JSON.parse(current_page.data.to_json)
				"\"" + my_hash["abstract"][0] + "\""
			else
				"\"Emmanuel Odongo is an aspiring web developer who writes about web design and front-end develpoment.\""
			end
		%>>

		<!-- Website favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/assets/images/favicon/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/assets/images/favicon/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/assets/images/favicon/manifest.json">
		<meta name="theme-color" content="#ffffff">

		<%= javascript_include_tag :all, :async => true %>
    <%= stylesheet_link_tag :site %>
  </head>
  
	<body>
    <header>
  		<div>
  			<%= link_to image_tag("logo.png", alt: "odongo", class: "logo"), '/' %>
  			<nav class="nav-bar">
  				<ul class="nav-list">
  					<li class="nav-item"><%= link_to 'Blog', '/blog', :class => "link" %></li>
  					<li class="nav-item"><%= link_to 'Contact', '/contact.html', :class => "link" %></li>
  				</ul>
  			</nav>
  		</div>	
  	</header>
  	
		<div class="content-box">
      <%= yield %>
  	</div>

  	<footer>
  		<div>&copy; <%= DateTime::now.strftime "%Y" %> Emmanuel Odongo</div>
  		<div>Powered by <a href="https://middlemanapp.com/">Middleman</a></div>
  	</footer>

  </body>
</html>
